@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fff;
  --color-secondary: #000;
}

/* :root {
  --color-primary: #000;
  --color-secondary: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #fff;
    --color-secondary: #000;
  }
} */

body {
  color: var(--color-primary);
  background: var(--color-secondary);
}
